/* General */
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

body {

    display: flex;
    flex-direction: column;
    font-family: "Parkinsans", serif;
}
* {
    margin: 0px;
    box-sizing: border-box;
}

/* Header */
.header {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

.header a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.3s;
}
.header a:hover {
    padding: 5px;
    border: black solid 1px;
    border-radius: 100px;
}

.container {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
}



.logo {
    position: absolute;
    left: 46%;
    top: 3%;
}

.profile {
    border: 1px dimgray solid;
    border-radius: 60px;
    display: flex;
    padding: 5px 10px;
    gap: 5px;
    align-items: center;
    justify-content: center;
}
.profile a {
    height: 35px;
}
.profile img {
    width: 35px;
    opacity: 73%;
}

.container .right{
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: calc(70vw/3);
}

.container .left {
    max-width: calc(70vw/3);
    font-size: xxx-large;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}