/* General */
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: "Parkinsans", serif;
}
* {
    margin: 0;
    box-sizing: border-box;
}

/* Header */
.header {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

.header a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.3s;
}
.header a:hover {
    padding: 5px;
    border: black solid 1px;
    border-radius: 100px;
}

.container {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo {
    position: absolute;
    left: 45%;
    top: 3%;
}

.title {
    font-size: xxx-large;
    font-style: italic;
}
.cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}

.card {
    position: relative;
    justify-content: center;
    gap: 50px;
    max-width: 300px;
    align-items: center;
    transition: 0.3s;
    border-radius: 20px;
    outline: 1px darkgray solid;
}

.desc {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}
.desc p {
    color: dimgray;
}

.desc .tags{
    display: flex;
    flex-direction: row;
    gap: 5px;
}

.desc .tag {
    border: 1px dimgray solid;
    color: dimgray;
    border-radius: 50px;
    padding: 3px 10px;
    font-size: small;
}

a {
    color: #2b58a6;
}

.media img {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    max-height: 200px;
    object-fit: contain;
}

.clickable:hover {
    cursor: pointer;
}

