
@import url('https://fonts.googleapis.com/css2?family=Parkinsans:wght@300..800&display=swap');

body {
    display: flex;
    flex-direction: column;
    font-family: "Parkinsans", serif;
}
* {
    margin: 0;
    box-sizing: border-box;
}

/* Header */
.header {
    margin-left: auto;
    margin-right: auto;
    width: 70vw;
    height: 150px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: large;
}

.header a {
    text-decoration: none;
    color: black;
    margin-left: 20px;
    margin-right: 20px;
    transition: 0.3s;
}
.header a:hover {
    padding: 5px;
    border: black solid 1px;
    border-radius: 100px;
}

.container {
    width: 70vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.logo {
    position: absolute;
    left: 45%;
    top: 3%;
}

.overview {
    outline: dimgray 1px solid;
    border-radius: 50px;
    display: flex;
    padding: 30px;
    max-width: 70vw;
    flex-direction: column;
}

.overview p {
    line-height: 1.8;
}
dt {
    font-weight: bold;
    margin-top: 20px;
}

h4 {
    margin-top: 20px;
}

ul {
    padding: 30px;
}
.side {
    max-width: 70vw;
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
    justify-content: center;
}

video, img {
    border-radius: 50px;
    width: 35vw;
}